{% extends 'layouts/base_for_popups.html' %}

{% block title %}
    <title>QartNLP - რეგისტრაცია</title>
{% endblock %}

{% block content %}
    <div>
        <div>
            <div>
                <form method="POST">
                    {{ form.hidden_tag() }}
                    {{ form.first_name(placeholder="სახელი") }}
                    <br>
                    {{ form.last_name(placeholder="გვარი") }}
                    <br>
                    {{ form.email(placeholder="ელ-ფოსტა") }}
                    <br>
                    {{ form.password(placeholder="პაროლი") }}
                    <br>
                    {{ form.confirm_password(placeholder="გაიმეორეთ პაროლი") }}
                    <br>
                    {{ form.submit_signup() }}
                </form>
            </div>
            <div>
                <a class="btn btn-outline-dark" href="{{ url_for('google.login') }}" role="button" style="text-transform:none">
                    <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
                    Login with Google
                </a>
            </div>
            <a href="{{ url_for('auth.login') }}"> ავტორიზაცია </a>
        </div>
    </div>
{% endblock %}
