{% extends 'layouts/base_for_popups.html' %}
{% from "macros/macros.html" import flash_auth_popup %}

{% block title %}
    <title>QartNLP - პაროლის შეცვლა</title>
{% endblock %}

{% block content %}
<div class="login-bg visible">
  <div class="content-login visible" style="flex-wrap: wrap">
{#    <div class="login-content">#}
{#            <div class="">#}
                <form method="POST" class="registration-content visible"
                style="flex-direction: column;
                       flex-wrap: wrap;
                       align-content: center"
                >
                    <br>
                    <h2 style="color: white"> პაროლის შეცვლა </h2>
                    {{ form.hidden_tag() }}
                    {{ form.password_reset_key() }}
                    {{ form.email() }}
                    <br><br>
                    <div class="reg-email-input">
                        <h5 style="color: white">ახალი პაროლი</h5>
                        {{ form.password(class='login-input') }}
                    </div>
                    <div class="reg-email-input">
                        <h5 style="color: white">გაიმეორეთ პაროლი</h5>
                        {{ form.confirm_password(class='login-input') }}
                    </div>
                    <br>
                    {{ flash_auth_popup() }}
                    <br>
                    {{ form.submit_password_reset(class='login-btn',
                    style='background-color: white; color: #496AC1; font-weight: bold; margin: 0') }}
                    <br>
                    <a href="{{ url_for('main.home') }}"
                    style="color: white; font-family: Sandro, sans-serif"> მთავარი გვერდი </a>
                </form>
{#            </div>#}
{#    </div>#}
  </div>
</div>
{% endblock %}