<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    {% block title %}
        <title>{{ _("QartNLP") }}</title>
    {% endblock %}
    <link rel="stylesheet" href="{{ url_for("static", filename="CSS/tagging-style.css") }}"/>
    <link rel="icon" href="{{ url_for("static", filename="assets/favicon.ico") }}" type="image/png">
    <script src="https://kit.fontawesome.com/5968971b15.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for("static", filename="CSS/styles2.css") }}"/>
    <link rel="stylesheet" href="{{ url_for("static", filename="CSS/fonts.css") }}"/>
</head>
<body>

    {% include "layouts/nav.html" %}


{% block content %}
{% endblock %}

<footer>
    <div class="footer-container">
        <div class="footer-l__block">
            <div class="created-by__title">
                <h2>პორტალის შესახებ</h2>
                <p>
                    შექმნილია ილიას სახელმწიფო უნივერსიტეტის ქართული ენის
                    ლემატიზატორის ბაზაზე UniLab-ის ციფრული ლაბორატორიის Python
                    Development გუნდის მიერ.
                </p>
            </div>
        </div>
        <div class="footer-r__block">
            <div class="university-name__title"><h2>პროექტი ქსელში</h2></div>
            <div class="university-logo">
                <a href="https://www.facebook.com/" target="_blank">
                    <img src="{{ url_for("static", filename="assets/fb.svg") }}" alt=""/>
                </a>
            </div>
        </div>
    </div>
    <div class="coprgt">Copyright © QartNLP 2021</div>
</footer>
    {#    <script src="{{ url_for("static", filename="JS/scripts.js") }}"></script>#}
    {% if not current_user.is_authenticated %}
        <script>
            const displayThisPopup = {{ submitted_form | tojson }}
        </script>
        <script src="{{ url_for('static', filename='JS/auth-popup.js') }}"></script>
    {% endif %}
</body>
</html>
