{% from "macros/macros.html" import nav_link with context %}

<!-- NAVIGATION -->
<header id="header">
    <nav class="navigation display-flex">
        <div class="nav-left">
            <a href="{{ url_for('main.home') }}">
                <img src="{{ url_for('static', filename="assets/new-logo.svg") }}" alt=""/>
            </a>
        </div>
        <div class="nav-right">
            <ul>
                {{ nav_link("main.home", _('მთავარი')) }}
                {{ nav_link("main.lemma", _('ლემატიზაცია')) }}
                {{ nav_link("files.all_files", _('ჩემი ფაილები')) }}
                {{ nav_link("main.about", _('ჩვენ შესახებ')) }}

                {# Show Auth button or My Profile button #}
                {% if not current_user.is_authenticated %}
                    <a class="icon login">
                        <div class="user-place">
                            <img src="{{ url_for('static', filename="assets/user.svg") }}" alt="logo" class="user-logo"/>
                        </div>
                    </a>
                {% else %}
                    <div style="background-color: #f9f9f9; border-radius: 16px; padding-right: 16px">
                    <a class="icon login" href="{{ url_for('files.all_files') }}" style="margin-left: 24px">
                        <span>{{ current_user.first_name }}</span>
                        <div class="user-place">
                            <img src="{{ url_for('static', filename='uploads/' + (current_user.picture or 'default_avatar.png')) }}"
                                 alt="my-profile-picture"
                                 height="100%"
                                 width="100%"
                                 style="border-radius: 100%;"/>
                        </div>
                    </a>
                    </div>
                {% endif %}
                <a style="display: flex; align-items: center; font-family: firaGo; color: black; padding-left: 24px;"
                   href="{{ url_for('main.toggle_lang') }}">

                    {% if session['locale'] == 'ka' %}
                    EN
                    <img src="{{ url_for('static', filename='assets/ena_en.png') }}" style="width: 28px; padding-left: 4px">
                    {% else %}
                    GE
                    <img src="{{ url_for('static', filename='assets/ena_ge.png') }}" style="width: 28px; padding-left: 4px">
                    {% endif %}
                </a>
            </ul>
        </div>
    </nav>
</header>

{% if not current_user.is_authenticated %}
    {% include 'auth/auth_popup.html' %}
{% endif %}