{% extends "base1.html" %}
{% block content %}
    <section style="margin-top: 64px" class="concrete-page">
        <h2 style="font-family: firaGoSemibold; font-size: 24px; margin-left: 140px; margin-bottom: 12px">ძიების
            შედეგები</h2>
        <p style="font-family: firaGoBook; margin-left: 140px; color: #4B4B4B; margin-bottom: 36px">სულ
            ნაპოვნია {{ paginate.total }} შედეგი</p>
        {% for sentence in sentences %}
            <div class="concrete-content" style="margin-left: 140px; margin-bottom: 24px">
                <div class="concrete-words" style="font-family: firaGo; font-size: 18px">
                        {% set split = sentence.raw_text.split( ) %}
                        {% for words in split %}
                            {% if words.translate(words.maketrans('', '', '!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~')) == sentence.highlight %}
                                <a class="word-highlight">{{ words }}</a>
                            {% else %}
                                {{ words }}
                            {% endif %}
                        {% endfor %}
                    <br><br><br>
                    <a style="font-family: firaGo; color: #496AC1; padding-left: 82%; text-decoration: none;"
                       href="{{ url_for('files.view_file', file_id=file_id, page_id=sentence.page_id) }}">მონაკვეთზე გადასვლა</a>
                </div>
            </div>
        {% endfor %}

        {% if paginate.pages > 1 %}
            <div style="display: flex; justify-content: center;">
                {% for page in paginate.iter_pages() %}
                    {% if page %}
                        {% if page == page_num %}
                            <a class="pagination-number active"
                               href="{{ url_for('files.search', file_id=file_id, search_word=search_word, page_num=page, search_type=search_type) }}">{{ page }}</a>
                        {% else %}
                            <a class="pagination-number"
                               href="{{ url_for('files.search', file_id=file_id, search_word=search_word, page_num=page, search_type=search_type) }}">{{ page }}</a>
                        {% endif %}
                    {% else %}
                        ...
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
    </section>
{% endblock %}