<div class="login-bg">
      <div class="login-content">
          <h2>ავტორიზაცია</h2>
          <div class="addit-login">
                  <img class="img-additional" src="{{ url_for('static', filename="assets/Path3452.svg") }}" alt="Github"/>
                  <img class="img-additional" src="{{ url_for('static', filename="assets/RepeatGrid1.svg") }}" alt="Gmail"/>
          </div>
          <div class="login-inputs">
              <form name="login" method="POST" action='/user_login' id="login-form">
                <div class="email-input">
                  <input type="email" name="email" id="email" class="login-input" placeholder="ელფოსტა">
                </div>
                <div class="password-input">
                  <input type="password" name="password" id="password" class="login-input" placeholder="პაროლი">
                </div>
                 <input type="submit" value="შესვლა" class="login-btn">
              </form>
          </div>
            <button class="registration-button">რეგისტრაცია</button>
      </div>
    </div>