*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navigation{
    background-color: #172224;
    color: white;
    display: flex;
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;
}

.nav-right ul{
    list-style: none;
    font-size: 27px;
    display: flex;
    align-items: center;
}

.list-item a{
    text-decoration: none;
    color: white;
}

.nav-left{
    color: white;
    font-size: 42px;
}

.icon {
    font-size: 20px;
}

.list-item:after{
    content: '';
    display: inline-block;
    width: 1px;
    height: 20px;
    background-color: white;
    margin: 0 50px;
}

body {
    padding: 0;
    margin: 0;
    background-color: #ebebeb;
    box-sizing: border-box;
}

.processing-lang {
    max-width: 960px;
    width: 100%;
    margin: auto;
    margin-top: 64px;
    /* margin-bottom: 433px; */
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.processing-lang h2 {
    text-align: center;
    margin-bottom: 87px;
}

.prtext {
    width: 960px;
    height: 288px;
    padding: 5px;
    background-color: #fff;
    border: 1px solid#172224;
    font-size: 22px;
    resize: none;
}

.prtext:focus {
    outline: none;
}

.prtext::placeholder {
    font-size: 22px;
    color: #172224;
    opacity: 0.5;
}

.btn-block {
    margin: auto;
    margin-top: 32px;
    position: relative;
    display: flex;
    align-items: center;
}

.clear-icon{
    display: none;
    position: absolute;
    left: 4px;
}

.btn-analyze {
    padding: 8px 46px;
    font-size: 34px;
    text-align: center;
    background-color: #172224;
    color: #ffffff;
    cursor: pointer;
    outline: none;
    border: none;
}

.analyze-section {
    max-width: 960px;
    width: 100%;
    margin: auto;
    margin-top: 64px;
    display: none;
    justify-content: center;
    flex-direction: column;
}

.display-flex{
    display: flex;
}

.parts{
    display: flex;
}

.analyze-part{
    width: 50%;
    text-align: center;
    font-size: 18px;
    border: 1px solid #707070;
}

.grammar-blocks{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border: 1px solid #707070;
    border-top: none;
}

.grammar-block{
    width: 44%;
    border: 1px solid #707070;
    margin-top: 32px;
    min-height: 128px;
    display: flex;
    flex-direction: column;
}

.grammar-block-header{
    font-size: 22px;
    padding-left: 22px;
    font-weight: bold;
    color: white;
}

.gram-textarea{
    min-width: 100%;
    resize: none;
    border: none;
    outline: none;
    height: auto;
    flex: 1;
    font-size: 18px;
    padding-left: 5px;
}

.hidden{
    opacity: 0;
}

.block-last{
    margin-bottom: 32px;
}

.block-1>.grammar-block-header{
    background-color: #3BC18E;
}

.block-2>.grammar-block-header{
    background-color: #D1BF33;
}

.block-3>.grammar-block-header{
    background-color: #3B83C1;
}

.block-4>.grammar-block-header{
    background-color: #E68989;
}

.block-5>.grammar-block-header{
    background-color: #238463;
}

.block-6>.grammar-block-header{
    background-color: #D69822;
}

.block-7>.grammar-block-header{
    background-color: #BC1E9E;
}

.block-8>.grammar-block-header{
    background-color: #4DB44D;
}

.block-9>.grammar-block-header{
    background-color: #9DC13B;
}

.block-10{
    background-color: #E31313;
}

.block-11{
    background-color: #567188;
}