{% extends "layouts/base_for_full_pages.html" %}
{% block content %}
    <section id="about-section">
        <div class="about-us">
            <h3 class="about-head">{{ _('ჩვენ შესახებ') }}</h3>
            <p class="about-us-par">
                {{ _('ქართული ენის მორფოლოგიური ანალიზატორი შეიქმნა ილიას სახელმწიფო
                უნივერსიტეტისა და შოთა რუსთაველის საქართველოს ეროვნული სამეცნიერო ფონდის სხვადასხვა დროს ერთობლივი კვლევითი
                პროექტების ფარგლებში: No. AR/320/4-105/11, თანამედროვე ქართული ენის საანალიზო და საანოტაციო პროგრამების შექმნა
                და  No. DP2016_23, ციფრული ჰუმანიტარია (ციფრული ეპიგრაფიკა, კომპიუტერული ენათმეცნიერება, ციფრული
                პროსოპოგრაფია).') }}
            <p class="about-us-par">
                {{ _('პროექტის საერთო ხელმძღვანელი: ნ. დობორჯგინიძე, პროფესორი, ლინგვისტურ კვლევათა ინსტიტუტის დირექტორი') }}
            </p>
            <p class="about-us-par">
                {{ _('პროექტის ლინგვისტური კოორდინატორი და მორფოლოგიურ ანალიზატორზე მომუშავე ჯგუფის ხელმძღვანელი: ი. ლობჟანიძე, პროფესორი') }}
            </p>
            <p class="about-us-par">
                {{ _('კვლევითი ასისტენტები: თ. გეთიაშვილი, ა. ტყებუჩავა, მ. იშხანოვა, თ. დამენია, თ. ქაროსანიძე, ლ. ვაშაყმაძე,
                მ. დამენია, ქ. გილაშვილი, ნ. ლათიბაშვილი, მ. რუხაძე, თ. გავაშელიშვილი, ნ. ჭიჭიკოშვილი, თ. ქიტოშვილი,
                თ. კალხიტაშვილი, ივლ. ლობჟანიძე, თ. ხუბაშვილი, ლ. კიწმარიშვილი, ე. მდინარაძე, ნ. გოგიჩაიშვილი, ლ. თეთრაშვილი,
                ა. სტურუა, ს. აბრალავა, ზ. მაჭავარიანი, ლ. კუპრეიშვილი, მ. კვასხვაძე, მ. კვინიკაძე, შ. თუმანიშვილი, ნ. დათაშვილი,
                ნ. დონაძე, ლ. სერგია, ს. მარგველაშვილი, შ. ნოზაძე, მ. დადუნაშვილი, ქ. მარიდაშვილი.') }}
            </p>
        </div>
        <div class="our-team-container">
            <h3 class="about-head">{{ _('ჩვენი გუნდი') }}</h3>
            <div class="our-team">
                <div class="team-info active-info" id="member-1">
                    <h2 class="team-name">{{ _('თემურ ჩიჩუა') }}</h2>
                    <h4>{{ _('ინსტრუქტორი') }}</h4>
                    <p class="team-desc">
                        {{ _('AnimaChatbotics-ის მოქმედი Python დეველოპერი. მუშაობს სხვადასხვა
                        კომპიუტერული მეცნიერების მიმართულებაზე. ასწავლის Python
                        Development-ს ილიას სახელმწიფო უნივერსიტეტის ტექნოლოგიების
                        ლაბორატორია “უნილაბსა” და “ექსპლორიუმში”') }}
                    </p>
                    <a href="https://github.com/temurchichua" class="git">
                        <i class="fab fa-github"></i><span>github</span>
                    </a>
                </div>
                          <div class="team-info" id="member-2">
            <h2 class="team-name">ალისა სანაკოევი</h2>
            <h4>ინსტრუქტორი</h4>
            <p class="team-desc">
              AnimaChatbotics-ის მოქმედი Python დეველოპერი. მუშაობს სხვადასხვა
              კომპიუტერული მეცნიერების მიმართულებაზე. ასწავლის Python
              Development-ს ილიას სახელმწიფო უნივერსიტეტის ტექნოლოგიების
              ლაბორატორია “უნილაბსა” და “ექსპლორიუმში”
            </p>
            <a href="https://github.com/temurchichua" class="git">
              <i class="fab fa-github"></i><span>github</span>
            </a>
          </div>
          <div class="team-info" id="member-3">
            <h2 class="team-name">ნინა დარსაველიძე</h2>
            <h4>ინსტრუქტორი</h4>
            <p class="team-desc">
              AnimaChatbotics-ის მოქმედი Python დეველოპერი. მუშაობს სხვადასხვა
              კომპიუტერული მეცნიერების მიმართულებაზე. ასწავლის Python
              Development-ს ილიას სახელმწიფო უნივერსიტეტის ტექნოლოგიების
              ლაბორატორია “უნილაბსა” და “ექსპლორიუმში”
            </p>
            <a href="https://github.com/temurchichua" class="git">
              <i class="fab fa-github"></i><span>github</span>
            </a>
          </div>
          <div class="team-info" id="member-4">
            <h2 class="team-name">თემური ქიტოშვილი</h2>
            <h4>ინსტრუქტორი</h4>
            <p class="team-desc">
              AnimaChatbotics-ის მოქმედი Python დეველოპერი. მუშაობს სხვადასხვა
              კომპიუტერული მეცნიერების მიმართულებაზე. ასწავლის Python
              Development-ს ილიას სახელმწიფო უნივერსიტეტის ტექნოლოგიების
              ლაბორატორია “უნილაბსა” და “ექსპლორიუმში”
            </p>
            <a href="https://github.com/temurchichua" class="git">
              <i class="fab fa-github"></i><span>github</span>
            </a>
          </div>
          <div class="team-info" id="member-5">
            <h2 class="team-name">მარიამ კვანტალიანი</h2>
            <h4>ინსტრუქტორი</h4>
            <p class="team-desc">
              AnimaChatbotics-ის მოქმედი Python დეველოპერი. მუშაობს სხვადასხვა
              კომპიუტერული მეცნიერების მიმართულებაზე. ასწავლის Python
              Development-ს ილიას სახელმწიფო უნივერსიტეტის ტექნოლოგიების
              ლაბორატორია “უნილაბსა” და “ექსპლორიუმში”
            </p>
            <a href="https://github.com/temurchichua" class="git">
              <i class="fab fa-github"></i><span>github</span>
            </a>
          </div>
          <div class="team-info" id="member-6">
            <h2 class="team-name">თენგიზ პატარაია</h2>
            <h4>ინსტრუქტორი</h4>
            <p class="team-desc">
              AnimaChatbotics-ის მოქმედი Python დეველოპერი. მუშაობს სხვადასხვა
              კომპიუტერული მეცნიერების მიმართულებაზე. ასწავლის Python
              Development-ს ილიას სახელმწიფო უნივერსიტეტის ტექნოლოგიების
              ლაბორატორია “უნილაბსა” და “ექსპლორიუმში”
            </p>
            <a href="https://github.com/temurchichua" class="git">
              <i class="fab fa-github"></i><span>github</span>
            </a>
          </div>
          <div class="team-pics">
            <div class="team-member current-member" id="member-1">
              <img src="{{ url_for('static', filename='assets/temur-chichua.png') }}" alt="team member" class="team-pic">
              <div class="full-photo" id="member-1">
                <img src="{{ url_for('static', filename='assets/temur-chichua.png') }}" alt="team member" class="team-pic-full">
                <button class="close-photo"><img src="{{ url_for('static', filename='assets/close.svg') }}" class="close-btn" alt="close"></button>
              </div>
            </div>
            <div class="team-member" id="member-2">
              <img src="{{ url_for('static', filename='assets/alisa-sanakoevi.png') }}" alt="team member" class="team-pic">
              <div class="full-photo" id="member-2">
                <img src="{{ url_for('static', filename='assets/alisa-sanakoevi.png') }}" alt="team member" class="team-pic-full">
                <button class="close-photo"><img src="{{ url_for('static', filename='assets/close.svg') }}" class="close-btn" alt="close"></button>
              </div>
            </div>
            <div class="team-member" id="member-3">
              <img src="{{ url_for('static', filename='assets/nina-darsavelidze.png') }}" alt="team member" class="team-pic">
              <div class="full-photo" id="member-3">
                <img src="{{ url_for('static', filename='assets/nina-darsavelidze.png') }}" alt="team member" class="team-pic-full">
                <button class="close-photo"><img src="{{ url_for('static', filename='assets/close.svg') }}" class="close-btn" alt="close"></button>
              </div>
            </div>
            <div class="team-member" id="member-4">
              <img src="{{ url_for('static', filename='assets/temuri-qitsohvili.png') }}" alt="team member" class="team-pic">
              <div class="full-photo" id="member-4">
                <img src="{{ url_for('static', filename='assets/temuri-qitsohvili.png') }}" alt="team member" class="team-pic-full">
                <button class="close-photo"><img src="{{ url_for('static', filename='assets/close.svg') }}" class="close-btn" alt="close"></button>
              </div>
            </div>
            <div class="team-member" id="member-5">
              <img src="{{ url_for('static', filename='assets/mariam-kvantaliani.png') }}" alt="team member" class="team-pic">
              <div class="full-photo" id="member-5">
                <img src="{{ url_for('static', filename='assets/mariam-kvantaliani.png') }}" alt="team member" class="team-pic-full">
                <button class="close-photo"><img src="{{ url_for('static', filename='assets/close.svg') }}" class="close-btn" alt="close"></button>
              </div>
            </div>
            <div class="team-member" id="member-6">
              <img src="{{ url_for('static', filename='assets/tengiz-pataria.png') }}" alt="team member" class="team-pic">
              <div class="full-photo" id="member-6">
                <img src="{{ url_for('static', filename='assets/tengiz-pataria.png') }}" alt="team member" class="team-pic-full">
                <button class="close-photo"><img src="{{ url_for('static', filename='assets/close.svg') }}" class="close-btn" alt="close"></button>
              </div>
            </div>
          </div>
        </div>
        </div>
    </section>

    <script src="{{ url_for('static', filename='JS/scripts.js') }}"></script>

{% endblock %}