{% extends "layouts/base_for_full_pages.html" %}
{% block content %}

    <section class="processing-lang">
      <textarea
        class="prtext"
        name="text"
        id="prtext"
        placeholder="ჩააკოპირე ქართული ტექსტი, ნახე როგორ მუშაობს სისტემა."
      ></textarea>
      <div class="btn-block">
        <button id="analyze-button" class="btn-analyze">
          <img
            src="{{ url_for('static', filename='assets/clear.svg') }}"
            alt="reload"
            id="clear-icon"
            class="clear-icon"
          />
          <span id="analyze-text">გაანალიზე</span>
        </button>
      </div>
    </section>
    <section id="analyze-section" class="analyze-section">
      <div class="parts">
      </div>
      <div class="grammar-blocks">
        <i aria-hidden="true" class="grammar-block hidden"></i>
      </div>
    </section>

    <script>
        let maxCharacterCount = {{ max_character_count | safe }};
    </script>
    <script src="{{ url_for('static', filename='JS/scripts.js') }}"></script>

{% endblock %}