{% from "macros.html" import person with context %}
{% extends "base1.html" %}
{% block content %}
    <section id="about-section">
        <div class="people">
            
            {% for p in people %}
            {{
                    person(
                        name=p.get("name"),
                        job=p.get("job"),
                        description=p.get("description"),
                        image=p.get("image")
                    )
            }}
            {% endfor %}

        </div>
    </section>
{% endblock %}