<div class="login-bg">

    {#  LOGIN  #}

    <div class="login-content">

        <h2>{{ _("ავტორიზაცია") }}</h2>
        <div class="addit-login">
            <img class="img-additional" src="{{ url_for('static', filename="assets/Path3452.svg") }}" alt="Github"/>
            <img class="img-additional" src="{{ url_for('static', filename="assets/RepeatGrid1.svg") }}" alt="Gmail"/>
        </div>
        <div class="login-inputs">
            <form name="login" method="POST" id="login-form">
                <div class="email-input">
                    <input type="email" name="email" id="email" class="login-input" placeholder="{{ _("ელფოსტა") }}">
                </div>
                <div class="password-input">
                    <input type="password" name="password" id="password" class="login-input"
                           placeholder="{{ _("პაროლი") }}">
                </div>
                <button class="forgot-password">
                    {{ _("დაგავიწყდათ პაროლი?") }}
                </button>
                <input type="submit" value="{{ _("შესვლა") }}" class="login-btn">
            </form>
        </div>
        <button class="registration-button">{{ _("რეგისტრაცია") }}</button>
    </div>


{#  REGISTRATION  #}

    <div class="registration-content invisible">
        <h2>{{ _("რეგისტრაცია") }}</h2>
        <div class="addit-login">
            <img class="img-additional" src="{{ url_for('static', filename="assets/Path3452.svg") }}" alt="Github"/>
            <img class="img-additional" src="{{ url_for('static', filename="assets/RepeatGrid1.svg") }}" alt="Gmail"/>
        </div>
        <div class="login-inputs">
            <form name="login" method="POST" id="login-form">
                <div class="reg-email-input">
                    <input type="email" name="email" id="reg-email" class="login-input" placeholder="{{ _("ელფოსტა") }}">
                </div>
                <div class="reg-password-input">
                    <input type="password" name="password" id="reg-password" class="login-input"
                           placeholder="{{ _("პაროლი") }}">
                </div>
                <div class="reg-password-input-rep">
                    <input type="password" name="passwordrep" id="reg-password-rep" class="login-input"
                           placeholder="{{ _("გაიმეორეთ პაროლი") }}">
                </div>
                <input type="submit" value="{{ _("რეგისტრაცია") }}" class="login-btn">
            </form>
        </div>
        <button class="avtorization-button">{{ _("ავტორიზაცია") }}</button>
    </div>


{#  FORGET PASSWORD  #}
    <div class="pas-rec-bg invisible">
        <h2>{{ _("პაროლის აღდგენა") }}</h2>
        <div class="addit-login">
            <img class="img-additional" src="{{ url_for('static', filename="assets/Path3452.svg") }}" alt="Github"/>
            <img class="img-additional" src="{{ url_for('static', filename="assets/RepeatGrid1.svg") }}" alt="Gmail"/>
        </div>
        <div class="login-inputs">
            <form name="login" method="POST" id="recov-form">
                <div class="email-input">
                    <input type="email" name="email" id="email-forgot" class="login-input"
                           placeholder="{{ _("ელფოსტა") }}">
                </div>

                <div class="password-input">
                    <input type="password" name="password-forg" class="login-input log-inp-rec"
                           placeholder="{{ _("ახალი პაროლი") }}">
                </div>
                <div class="password-input">
                    <input type="password" name="password-forg" id="password-forg" class="login-input log-inp-rec"
                           placeholder="{{ _("დაადასტურეთ პაროლი") }}">
                </div>
                <input type="submit" value="{{ _("აღდგენა") }}" class="login-btn">
            </form>
        </div>
    </div>
</div>