{% extends "layouts/base_for_full_pages.html" %}
{% from "macros/macros.html" import file_block with context %}

{% block content %}
    <script>
        window.onload = function () {
            let modal = document.getElementById("upload-file");
            let fileBtn = document.getElementById("add-file-btn");

            fileBtn.onclick = function () {
                modal.style.display = "block";
            }

            document.onclick = function (event) {
                if (event.target === modal) {
                    modal.style.display = "none";
                }
            }
        }
    </script>

    <div class="wall">


        <div style="display: flex">

            {# Settings & Logout buttons #}
            <div class="profile-box">
                <div class="img-box">
                <img src="{{ url_for('static', filename='uploads/' + (current_user.picture or 'default_avatar.png')) }}" alt="my-profile-picture">
                </div>
                <p>{{ current_user.first_name }} {{ current_user.last_name }}</p>
                <button class="profile-info">{{ _('პარამეტრები') }}</button>
                <a class="logout-btn" href="{{ url_for('auth.logout') }}">{{ _('გამოსვლა') }}</a>
            </div>

            {# Settings Popup #}
            <form method="POST" enctype="multipart/form-data">
            <div class="profile-setting-popup">
              <div class="setting-block">
                <div class="left-setting-block">
                  <div class="profile-picture-block">
                    <h2>{{ _('პროფილის სურათი') }}</h2>
                    <div class="pic-bl-picture">
                      <form></form>
                      <form id="picture-form" name="picture-form" method="POST" class="pt-upload" enctype="multipart/form-data">
                        <img style="height: 35%; width: 35%; border-radius: 100%;" src="{{ url_for('static', filename='uploads/' + (current_user.picture or 'default_avatar.png')) }}" alt="my-profile-picture"/>
                        {{ picture_form.hidden_tag() }}
                        {{ picture_form.picture(accept='image/*', style='display: none') }}
                        <label for="picture"><img style="height: 55%; width: 55%; padding: 0 5% 0 15%" src="{{ url_for('static', filename='assets/imgupload.png') }}" alt="upload_image">
                            {{ picture_form.submit_picture(class='changesBtn', style='padding: 15px; height: 100%; width: 100%; position: relative; cursor:pointer;' ) }}
                        </label>
                      </form>
                    </div>
                  </div>
                  <div class="profile-picture-block">
                    <h2>{{ _('პაროლის შეცვლა') }}</h2>
                    <div class="pic-bl">
                      <div class="in-pt">
                        {{ profile_form.hidden_tag() }}
                        <h3>{{ _('ახლანდელი პაროლი') }}</h3>
                        {{ profile_form.old_password() }}
                      </div>
                      <div class="in-pt">
                        <h3>{{ _('ახალი პაროლი') }}</h3>
                        {{ profile_form.new_password() }}
                      </div>
                      <div class="in-pt">
                        <h3>{{ _('გაიმეორეთ პაროლი') }}</h3>
                        {{ profile_form.confirm_password() }}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="right-setting-block">
                  <div class="profile-picture-block">
                    <h2>{{ _('პირადი მონაცემები') }}</h2>
                    <div class="pic-bl">
                        <div class="in-pt">
                            <h3>{{ _('სახელი') }}</h3>
                            {{ profile_form.first_name(value=current_user.first_name) }}
                        </div>
                        <div class="in-pt">
                            <h3>{{ _('გვარი') }}</h3>
                            {{ profile_form.last_name(value=current_user.last_name) }}
                        </div>
                      {% if not current_user.is_oauth %}
                      <div class="in-pt">
                        <h3>{{ _('ელ-ფოსტა') }}</h3>
                            {{ profile_form.new_email(value=current_user.email) }}
                      </div>
                      {% endif %}
                      <div class="in-pt">
                        <h3>{{ _('პაროლის დადასტურება') }}</h3>
                        {{ profile_form.password(placeholder=_('პაროლი')) }}
                        <p>{{ _('მონაცემების შესაცვლელად უნდა დაადასტუროთ პაროლი') }}</p>
                      </div>
                    </div>
                    {{ profile_form.submit_profile_changes(class="changesBtn") }}
                  </div>
                </div>
              </div>
            </div>
            </form>
            <div class="files_page_content">

                <div style="justify-self: center">
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                <p class="flashed-messages">{{ message }}</p>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>

                <div class="file-btn-container display-flex">
                    <button id="add-file-btn" class="btn-file">
                        <a style="padding-right: 10px">{{ _('დამატება') }}</a>
                        <img style="vertical-align:middle"
                             src="{{ url_for('static', filename='assets/ic-actions-add-file.svg') }}" alt="">
                    </button>
                </div>
                <br><br><br>

                {# Uploaded files list #}
                {% for file in block_files.items %}
                    {% if file.status[0].completed %}
                        {% set desc_data = file.read(310) + "..." %}
                    {% else %}
                        {% set desc_data = _('ფაილი მუშავდება...') %}
                    {% endif %}
                    {{ file_block(
                    id= file.id,
                    title= file.title,
                    description= desc_data,
                    c_date= file.upload_date,
                    m_date= file.date_modified,
                    convert_time= convert_time,
                    status= file.status[0]
             ) }}
                {% endfor %}

                {# Pagination #}
                {% if block_files.pages > 1 %}
                    <div style="display: flex; justify-content: center;">
                        {% for page in block_files.iter_pages() %}
                            {% if page %}
                                {% if page == page_num %}
                                    <a class="pagination-number active"
                                       href="{{ url_for('files.all_files', page_num=page) }}">{{ page }}</a>
                                {% else %}
                                    <a class="pagination-number"
                                       href="{{ url_for('files.all_files', page_num=page) }}">{{ page }}</a>
                                {% endif %}
                            {% else %}
                                ...
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

        </div>

        {# File upload modal #}
        <div id="upload-file" class="file-upload-modal" style="display: none">
            <div class="file-upload-modal-content">
                <form method="POST" enctype="multipart/form-data">
                    {{ upload_form.hidden_tag() }}
                    <div class="file-add-block display-flex">
                        <div class="create-file-inputs display-flex">
                            <div class="file-info">
                                <h2>{{ _('შეიყვანეთ ფაილის დასახელება') }}</h2>
                                {{ upload_form.name(class="file-name-inp") }}
                                <h2>{{ _('შეიყვანეთ დასამუშავებელი ტექსტი') }}</h2>
                                <div class="copy-container">
                                    {{ upload_form.text(class="copy-inp", placeholder=_('ჩააკოპირე ტექსტი')) }}
                                </div>
                            </div>
                            <h2 style="margin-bottom: 32px;">ან</h2>
                            <div class="upload-file">
                                <div class="cont-up">
                                    <label class="btn-file-upload">
                                        {{ upload_form.file(style="display:none", accept=".txt, .docx, .html, .pdf", onchange="document.getElementById('text').disabled = true;") }}
                                        {{ _('ატვირთე ფაილი') }}<img style="margin-left: 13px; vertical-align: middle"
                                                  src="{{ url_for('static', filename="assets/ic-editor-attachment.svg") }}" alt=""></label>
                                </div>
                            </div>
                        </div>
                        <div class="create-file-checks display-flex">
                            <h2 class="checks-header">{{ _('მონიშნეთ ხელსაწყოები, რომლითაც გსურთ ტექსტის/დოკუმენტის დამუშავება:') }}</h2>
                            {{ upload_form.processes() }}
                            {{ upload_form.submit_upload(class='btn-file', style='margin-top: auto;') }}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='JS/files-popup.js') }}"></script>
{% endblock %}