{% extends "layouts/base_for_full_pages.html" %}
{% block content %}
    <script>
        const lemmaArray = {{ lemma_list | safe }}
    </script>
    <script src="{{ url_for('static', filename='JS/one-file.js') }}"></script>

    <section style="margin-top: 100px">
        <div class="concrete-content">
            <div class="concrete-words">

                {% set splitted_words = word_list.split() %}
                {% set index = namespace(value=0) %}
                {% for word in splitted_words %}
                    {% if word not in '!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~' %}
                        <a id="{{ index.value }}" onclick=get_word_details({{ index.value }})>{{ word }}</a>
                        {% set index.value = index.value + 1 %}
                    {% else %}
                        {{ word }}
                    {% endif %}
                {% endfor %}

                {% if file.pages|count > 1 %}
                    <div style="margin-top: 120px; display: flex; justify-content: center;">
                        {% for i in range(1, 1 + file.pages|count) %}
                            {% if current_page == i %}
                                <a class="pagination-number active"
                                   href="{{ url_for('files.view_file', file_id=file.id, page_id=i) }}">{{ i }}</a>
                            {% else %}
                                <a class="pagination-number"
                                   href="{{ url_for('files.view_file', file_id=file.id, page_id=i) }}">{{ i }}</a>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}

            </div>
            <div class="concrete-search-tool">
                <div class="search-tool-block">
                    <div class="info-search">
                        <div class="statistics-group">
                            <p>{{ _('წინადადებები') }} <br> {{ statistics.sentences }} </p>
                            <p>{{ _('სიტყვები') }} <br> {{ statistics.words }} </p>
                        </div>
                        <div class="statistics-group">
                            <p>{{ _('უნიკ. სიტყვ.') }} <br> {{ statistics.uniq_words }} </p>
                            <p>{{ _('სენტიმენტი') }} <br> - </p>
                        </div>
                        <div class="statistics-group">
                            <p>{{ _('ემოცია') }} <br> - </p>
                            <p>{{ _('კატეგორია') }} <br> - </p>
                        </div>
                        <form method="POST">
                            <div class="search-input-block">
                                {{ search_form.hidden_tag() }}
                                {{ search_form.search_field(class='input-search', placeholder="ძიება...") }}
                                <button class="search-btn">
                                    <img src="{{ url_for("static", filename="assets/ic-actions-search.svg") }}"
                                         alt="search"/>
                                </button>
                            </div>
                            <br>
                            {% for subfield in search_form.radio_field %}
                                {{ subfield }} {{ subfield.label(style="font-family: firaGo; font-size:12px; margin-right: 18px")  }}
                            {% endfor %}
                        </form>
                    </div>
                </div>
                <br>
                <div class="search-tool-block">
                    <br>
                    <div class="word-lemma-info">
                        <p id="word_lemma">{{ _('ლემატიზაციის შედეგების გამოსაჩენად დააკლიკეთ სიტყვას') }}</p>
                        <p id="word_tag"> </p>
                    </div>
                </div>
                <a href="{{ url_for('files.search_with_form', file_id=file.id) }}">
                    <button class="advanced_search_btn">{{ _('გაფართოებული ძიება') }}</button>
                </a>
            </div>
        </div>
    </section>
{% endblock %}