{% extends "layouts/base_for_full_pages.html" %}

{% block content %}
    <div class="wall">
        <div class="search-form">
            <label>
                <input type="text" name="search" id="search-input" class="search-input" placeholder={{ _('საძიებო სიტყვა') }} />
            </label>
            <button id='submit-search-button' class="search-bl-btn">
              <img src="{{ url_for('static', filename='assets/srchicon.svg') }}" alt=""/>
              <span>{{ _('ძიება') }}</span>
            </button>
          <div class="btns-for-filter" id="add-new-search">
            <div class="f-btn">
              <span id="add-new-form-text">{{ _('საძიებო ფორმის დამატება') }}</span>
              <img src="{{ url_for('static', filename='assets/plusbtn.svg') }}" alt=""/>
            </div>
          </div>
        </div>

        <div id="new-search-form"></div>
        <div id="block-created-forms"></div>

        {% if search_attempt %}

            <div class="search-results">
                <div class="search-form-titles">
                    <h2>{{ _('ძიების შედეგები') }}</h2>
                    {% if 'words' in search_stats.keys() %}
                        <h4>{{ _('სულ ნაპოვნია') }} {{ search_stats['words'] }} {{ _('სიტყვა') }}, {{ search_stats['sentences'] }} {{ _('წინადადებაში') }}</h4>
                    {% else %}
                        <h4>{{ _('ფაილში მოთხოვნილი მონაცემები არ მოიძებნა') }}</h4>
                    {% endif %}
                </div>

            {% for sentence in search_results %}
                <div class="result-content">
                    <p>{{ sentence['sentence_text'] | safe }}</p>
                    <a href="{{ url_for('files.view_file',
                        file_id=sentence['file_page_id'][0],
                        page_id=sentence['file_page_id'][1]) }}">
                    <div>{{ _('მონაკვეთზე გადასვლა') }} <img src="{{ url_for('static', filename='assets/fullarrow.svg') }}" alt=""/></div>
                    </a>
                </div>
                <br>
            {% endfor %}

            <div style="margin-top: 120px; display: flex; justify-content: center;">
                {% for i in range(1, 1 + search_stats['pages']) %}
                    <a class="pagination-number {% if results_page_id == i %} active {% endif %}"
                       href="{{ url_for('files.search_with_form',
                                        file_id=file_id,
                                        results_page_id=i) }}?query={{ query }}">{{ i }}
                    </a>
                {% endfor %}
            </div>

            </div>
        {% endif %}

    </div>
    <br>
    <br>
    <script>
        const grammarSearchForm = {{ grammar_search_form | safe }};
        const searchResults = {{ search_results | safe }};

        const sentQuery = {{ query | tojson | safe }};

        const filterSvgUrl = {{ url_for('static', filename='assets/filter.svg') | tojson | safe }};
        const searchFormUrl = {{ url_for('files.search_with_form', file_id=file_id, results_page_id=1) | tojson | safe }};
    </script>
    <script src="{{ url_for('static', filename='JS/advanced-search.js') }}"></script>

{% endblock %}