{% extends "layouts/base_for_full_pages.html" %}

{% block content %}
    <div class="wall">
        <div class="search-form">
          <form>
            <input type="text" name="search" class="search-input" placeholder="არსებითი სახელი; საკუთარი; სულიერი; მრავლობითი; ვითარებითი" />
            <button class="search-bl-btn">
              <img src="{{ url_for('static', filename='assets/srchicon.svg') }}" alt=""/>
              <span>ძიება</span>
            </button>
          </form>
          <div class="btns-for-filter">
            <div class="f-btn" id="filter-form">
              <span>ფორმის განსაზღვრა</span>
              <img class="filter" src="{{ url_for('static', filename='assets/filter.svg') }}" alt=""/>

            </div>
            <div class="f-btn">
              <span>საძიებო ფორმის დამატება</span>
              <img src="{{ url_for('static', filename='assets/plusbtn.svg') }}" alt=""/>
            </div>
          </div>
        </div>

        <div class="filter-form">
          <div class="metkvelebis-nacili">
            <h2>მეტყველების ნაწილები</h2>
            <li class="metkv-nacili">არსებითი სახელი</li>
            <li class="metkv-nacili">ზედსართავი სახელი</li>
            <li class="metkv-nacili">რიცხვითი სახელი</li>
            <li class="metkv-nacili">ნაცვალსახელი</li>
            <li class="metkv-nacili">კავშირი</li>
            <li class="metkv-nacili">ნაწილაკი</li>
            <li class="metkv-nacili">ზმნიზედა</li>
            <li class="metkv-nacili">თანდებული</li>
            <li class="metkv-nacili">ზმნა</li>
            <li class="metkv-nacili">შორისდებული</li>
          </div>
          <div class="tipi">
            <h2>ტიპი</h2>
            <li class="type">საზოგადო</li>
            <li class="type">საკუთარი</li>
            <li class="type">სახელი/გვარი</li>
            <li class="type">გეოგრაფიული სახელი</li>
            <li class="type">სახელი/გვარი</li>
          </div>
          <div class="suliereba">
            <h2>სულიერება</h2>
            <li class="sul">სულიერი</li>
            <li class="sul">უსულო</li>
          </div>
          <div class="ricxvi">
            <h2>რიცხვი</h2>
            <li class="nm">მხოლობითი</li>
            <li class="nm">მრავლობითი</li>
          </div>
          <div class="brunva">
            <h2>ბრუნვა</h2>
            <li class="brn">სახელობითი</li>
            <li class="brn">მოთრობითი</li>
            <li class="brn">ნათესაობითი</li>
            <li class="brn">მოქმედებითი</li>
            <li class="brn">ვითარებითი</li>
            <li class="brn">წოდებითი</li>
          </div>
          <button class="btn-save">დამახსოვრება</button>
        </div>

        <div class="block-1-srch">
          <div class="block-content">
            <div class="nums">
              <div class="minus-btn"></div>
              <div class="num">2</div>
              <div class="pls-btn"></div>
            </div>
            <div class="block-txt-content">
              <p>არსებითი სახელი; საკუთარი; სულიერი; მრავლობითი; ვითარებითი</p>
              <div class="f-btn">
                <span>ფორმის განსაზღვრა</span>
                <img class="filter" src="{{ url_for('static', filename='assets/filter.svg') }}" alt=""/>
              </div>
            </div>
          </div>
          <div class="block-content">
            <div class="nums">
              <div class="minus-btn"></div>
              <div class="num">1</div>
              <div class="pls-btn"></div>
            </div>
            <div class="block-txt-content">
              <p>არსებითი სახელი; საკუთარი; სულიერი; მრავლობითი; ვითარებითი</p>
              <div class="f-btn">
                <span>ფორმის განსაზღვრა</span>
                <img class="filter" src="{{ url_for('static', filename='assets/filter.svg') }}" alt=""/>
              </div>
            </div>
          </div>
        </div>

        {% if search_attempt %}

            <div class="search-results">
                <div class="search-form-titles">
                    <h2>ძიების შედეგები</h2>
                    {% if 'words' in search_stats.keys() %}
                        <h4>სულ ნაპოვნია {{ search_stats['words'] }} სიტყვა, {{ search_stats['sentences'] }} წინადადებაში</h4>
                    {% else %}
                        <h4>ფაილში მოთხოვნილი მონაცემები არ მოიძებნა</h4>
                    {% endif %}
                </div>

            {% for sentence in search_results %}
                <div class="result-content">
                    <p>{{ sentence['sentence_text'] | safe }}</p>
                    <a href="{{ url_for('files.view_file',
                        file_id=sentence['file_page_id'][0],
                        page_id=sentence['file_page_id'][1]) }}">
                    <div>მონაკვეთზე გადასვლა <img src="{{ url_for('static', filename='assets/fullarrow.svg') }}" alt=""/></div>
                    </a>
                </div>
                <br>
            {% endfor %}

            <div style="margin-top: 120px; display: flex; justify-content: center;">
                {% for i in range(1, 1 + search_stats['pages']) %}
                    <a class="pagination-number {% if results_page_id == i %} active {% endif %}"
                       href="{{ url_for('files.search_with_form',
                                        file_id=file_id,
                                        results_page_id=i) }}?query={{ query }}">{{ i }}
                    </a>
                {% endfor %}
            </div>

            </div>
        {% endif %}

    </div>
    <script>

        const grammarSearchForm = {{ grammar_search_form | safe }};
        console.log('here')
        console.log(grammarSearchForm)
        const searchResults = {{ search_results | safe }};
        console.log(searchResults)

    </script>
    <script src="{{ url_for('static', filename='JS/scripts.js') }}"></script>

{% endblock %}