@font-face {
  font-family: "Sandro";
  src: url("../fonts/Sandro-Bold.eot");
  src: url("../fonts/Sandro-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Sandro-Bold.woff2") format("woff2"),
    url("../fonts/Sandro-Bold.woff") format("woff"),
    url("../fonts/Sandro-Bold.ttf") format("truetype"),
    url("../fonts/Sandro-Bold.svg#Sandro-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
