#tagging-page {
    line-height: 30px;
}

.ner-tag {
    padding: 5px 8px;
    margin: 10px 0.4rem 10px 0;
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.3);
    word-break: break-word;
}

.ner-tag:after {
    font-weight: bold;
}

.ner-tag > span {
    padding-right: 3px;
}


/* Specific Ner Tag styles*/

/* Person */
.ner-person {
    background-color: #3cbb5b;
}
.ner-person:after {
    content: " PERSON";
}

/* Occupation */
.ner-occupation {
    background-color: rgb(3, 171, 115);
}
.ner-occupation:after {
    content: " ROLE";
}

/* Location */
.ner-location {
    background-color: rgb(151, 26, 194);
}
.ner-location:after {
    content: " LOC.";
}

/* Geopolitical Entity */
.ner-geopolitical_entity {
    background-color: rgb(47, 78, 224);
}
.ner-geopolitical_entity:after {
    content: " GPE";
}

/* Structural Location */
.ner-structural_location {
    background-color: rgb(4, 119, 161);
}
.ner-structural_location:after {
    content: " STRUCT";
}

/* Geographical */
.ner-geographical {
    background-color: rgb(101, 214, 218);
}
.ner-geographical:after {
    content: " GEO.";
}

/* Organization */
.ner-organization {
    background-color: rgb(194, 123, 43);
}
.ner-organization:after {
    content: " ORG";
}

/* Event */
.ner-event {
    background-color: rgb(176, 10, 74);
}
.ner-event:after {
    content: " EVENT";
}

/* Product */
.ner-product {
    background-color: rgb(144, 187, 73);
}
.ner-product:after {
    content: " PROD.";
}

/* Address */
.ner-address {
    background-color: rgb(139, 131, 199);
}
.ner-address:after {
    content: " ADDR.";
}

/* Phone Number */
.ner-phone_number {
    background-color: rgb(164, 116, 208);
}
.ner-phone_number:after {
    content: " PHONE";
}

/* Email */
.ner-email {
    background-color: rgb(115, 113, 189);
}
.ner-email:after {
    content: " EMAIL";
}

/* URL */
.ner-url {
    background-color: rgb(183, 26, 84);
}
.ner-url:after {
    content: " URL";
}

/* IP */
.ner-ip {
    background-color: rgb(217, 0, 92);
}
.ner-ip:after {
    content: " IP";
}

/* Datetime */
.ner-datetime {
    background-color: rgb(208, 144, 5);
}
.ner-datetime:after {
    content: " Datetime";
}

/* Date */
.ner-date {
    background-color: rgb(199, 164, 98);
}
.ner-date:after {
    content: " DATE";
}

/* Time */
.ner-time {
    background-color: rgb(243, 168, 32);
}
.ner-time:after {
    content: " TIME";
}

/* Date Range */
.ner-date_range {
    background-color: rgb(246, 134, 14);
}
.ner-date_range:after {
    content: " DATErng.";
}

/* Time Range */
.ner-time_range {
    background-color: rgb(243, 113, 32);
}
.ner-time_range:after {
    content: " TIMErng.";
}

/* Duration */
.ner-duration {
    background-color: rgb(217, 34, 34);
}
.ner-duration:after {
    content: " DUR.";
}

/* Quantity */
.ner-quantity {
    background-color: rgb(222, 138, 138);
}
.ner-quantity:after {
    content: " QTY.";
}

/* Number */
.ner-number {
    background-color: rgb(245, 96, 96);
}
.ner-number:after {
    content: " NUM";
}

/* Percentage */
.ner-percentage {
    background-color: rgb(201, 38, 38);
}
.ner-percentage:after {
    content: " %";
}

/* Ordinal Number */
.ner-ordinal_number {
    background-color: rgb(206, 60, 60);
}
.ner-ordinal_number:after {
    content: " ORDNUM.";
}

/* Age */
.ner-age {
    background-color: rgb(212, 238, 29);
}
.ner-age:after {
    content: " AGE";
}

/* Currency */
.ner-currency {
    background-color: rgb(77, 173, 100);
}
.ner-currency:after {
    content: " CUR.";
}

/* Dimensions */
.ner-dimensions {
    background-color: rgb(107, 159, 175);
}
.ner-dimensions:after {
    content: " DIM.";
}

/* Temperature */
.ner-temperature {
    background-color: rgb(213, 206, 111);
}
.ner-temperature:after {
    content: " TEMP.";
}



#ner-tag-selected {
    position: relative;
    padding: 5px 8px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.3);
    word-break: break-word;
}


#ner-dropdown {
    left: 0;
    height: 0;
    overflow-y: scroll;
    border-radius: 2rem;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    transition-delay: 0.1s;
    transition-duration: 0.1s;
    transition-property: height;

    display: flex;
    flex-grow: 1;
    flex-direction: column;
    scrollbar-base-color: transparent;
    scrollbar-arrow-color: transparent;
    /*justify-content: center;*/
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}
#ner-tag-selected:hover #ner-dropdown {
    height: 300px;
    transition-delay: 0.001s;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(1,0,1,1.01);
}
#ner-dropdown:hover {
    height: 300px;
    transition-delay: 0.5s;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(1,0,1,1.01);
}

#ner-dropdown button {
    width: 90%;
    background-color: white;
    border-radius: 1.5rem;
    margin: auto auto 0.35rem;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.21);
}

#ner-dropdown button:hover {
    box-shadow: inset 2px 2px 6px 0 rgba(0,0,0,0.21);
}
#ner-dropdown button:active {
    color: white;
    background-color: #5aa95a
}

#ner-dropdown p {
    color: #000011;
    margin-bottom: 0;
    font-size: 16px;
    font-family: Sandro, sans-serif;
}

/*.ner-tag-delete {*/
/*    display: none;*/
/*    color: #930000;*/
/*    font-weight: bold;*/
/*    border: none;*/
/*    border-radius: 100%;*/
/*    margin-bottom: 0;*/
/*    background-color: white;*/
/*    line-height: unset;*/
/*    letter-spacing: unset;*/
/*    padding: 0;*/
/*    width: 2.7rem;*/
/*    height: 2.7rem;*/
/*    position: center;*/
/*}*/

/*.ner-tag:hover .ner-tag:first-child {*/
/*    display: inline;*/
/*}*/

.ner-tag-delete {
    display: none;
    color: #930000;
    font-weight: bold;
    border: none;
    border-radius: 100%;
    background-color: white;
    line-height: unset;
    letter-spacing: unset;
    margin: auto;
    padding: 0;
    width: 2.4rem;
    height: 2.4rem;
    position: center;
    box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.45);
}

.ner-tag-delete:hover {
    box-shadow: inset 2px 1px 5px 0 rgba(0,0,0,0.45);
}
.ner-tag-delete:active {
    color: white;
    background-color: #930000;
}