{% from "macros.html" import file_block with context %}
{% extends "base.html" %}

{% block content %}
    <div class="files_page_content">
        <div class="file_content_heading">
            <h2>ჩემი ფაილები/ატვირთვა</h2>
        </div>
    </div>

    <div id="upload-box-border"
         style="display: flex; margin: 67px 224px 224px 224px; padding: 32px; width: 1472px; height: 544px; border: 1px solid black">

        <div style="display:flex; flex-direction: column">
            <h3 style="font-family: 'Sandro' ">ფაილის სახელი</h3>
            <input type="text" style="width: 640px; height: 32px; margin-bottom: 32px">
            <h3>ტექსტი</h3>
            <textarea class="prtext" placeholder="ჩააკოპირე ტექსტი" style="width: 640px; height: 289px"></textarea>

            <h3>ატვირთეთ ფაილი</h3>
            <form method=post enctype=multipart/form-data style="width: 100%; height: 100%">
                {{ upload.hidden_tag() }}
                <label class="btn-file" style="height: 32px; width: 224px; font-size: 20px">
                    {{ upload.file(style="display:none") }}
                    Upload
                </label>
                <br>
                <input type=submit value=დამატება class="btn-file" style="position: relative; top: 50%; left: 50%">
            </form>
        </div>

        <div style="display: flex; flex-direction: column; margin: auto; width: 515px; height: 491px">
            <h2 style="padding-bottom: 72px"> მონიშნეთ ხელსაწყოები, რომლითაც გსურთ ტექსტის/დოცუმენტის დამუშავება</h2>

            <label style="padding-bottom: 24px">
                <input type="checkbox" style="width: 32px; height: 32px">
                <span style="font-size: 20px">ტექსტის ლემატიზაცია</span>
            </label>

            <label style="padding-bottom: 24px">
                <input type="checkbox" style="width: 32px; height: 32px">
                <span style="font-size: 20px">ტექსტის ტოკენიზაცია</span>
            </label>

            <label style="padding-bottom: 24px">
                <input type="checkbox" style="width: 32px; height: 32px">
                <span style="font-size: 20px">ტექსტის თეგირება</span>
            </label>

            <label style="padding-bottom: 24px">
                <input type="checkbox" style="width: 32px; height: 32px">
                <span style="font-size: 20px">Stop Word-ებისგან გასუფთავება</span>
            </label>

            <label style="padding-bottom: 24px">
                <input type="checkbox" style="width: 32px; height: 32px">
                <span style="font-size: 20px">სიტყვების სიხშირის განაწილება</span>
            </label>

        </div>
    </div>

{% endblock %}