{% macro nav_link(endpoint, text) %}
    {% if request.endpoint.endswith(endpoint) %}
        <li class="list-item"><a class="active-link-nav" href="{{ url_for(endpoint) }}">{{ text }}</a></li>
    {% else %}
        <li class="list-item"><a href="{{ url_for(endpoint) }}">{{ text }}</a></li>
    {% endif %}
{% endmacro %}

{% macro icon_link(link, ico) %}
    <a href="{{ link }}"><i class="{{ ico }}"></i></a>
{% endmacro %}

{% macro person(name, job, description, image, social=[]) %}
    <div class="person">
        <img src="{{ url_for("static", filename="assets/"+image) }}" alt="{{ name }}ს სურათი">
        <div class="person-info">
            <h2 class="person-name">{{ name }}</h2>
            <h2 class="person-job">{{ job }}</h2>
            <p class="person-description">{{ description }}</p>

            {% if social %}
                <div class="soc-icons">
                    {% for soc in social %}
                        {{ icon_link( soc.get("link"), soc.get("icon") ) }}
                    {% endfor %}
                </div>
            {% endif %}

        </div>
    </div>
{% endmacro %}

{% macro file_block(id, title, description, m_date, c_date, convert_time) %}
    <div class="file-block">
        <div class="files-flex-content">
            <div class="file-content">
                <div class="file-data">
                    <span>შექმნის თარიღი: {{ convert_time(c_date) }}</span>
                    <br>
                    <span>ბოლო მოდიფიცირების თარიღი: {{ convert_time(m_date) }}</span>
                </div>

                <h2><a style="color: inherit; text-decoration: none" ,
                       href="{{ url_for('files.view_file', file_id=id, page_id=1) }}">{{ title }}</a>
                </h2>
                <p>
                    {{ description }}
                </p>
                <div style="height: 100%; display: flex; align-items: flex-end" class="file-tools">
                    <div class="tool-container display-flex">
                        <a style="color: inherit; text-decoration: none" ,
                           href="{{ url_for('tagging.tagging', file_id=id, page_id=1) }}"><img style="vertical-align: middle"
                                src="{{ url_for('static', filename="assets/ic-contact-edit.svg") }}"></a>
                    </div>
                    <div class="tool-container display-flex">
                        <a style="color: inherit; text-decoration: none" ,
                           href="{{ url_for('files.download_file', file_id=id) }}"><img style="vertical-align: middle"
                                src="{{ url_for('static', filename="assets/ic-actions-download.svg") }}"></a>
                    </div>
                    <div class="tool-container display-flex">
                        <a style="color: inherit; text-decoration: none" ,
                           href="{{ url_for('files.disable_file', file_id=id) }}"><img style="vertical-align: middle"
                                src="{{ url_for('static', filename="assets/ic-actions-trash.svg") }}"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro flash_auth_popup() %}
{#    <div id="form-login-error">#}
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for category, message in messages %}
                    {% if category in ['success'] %}
                        {% set category_class = 'flashed-messages' %}
                    {% else %}
                        {% set category_class = 'red-flashed-message' %}
                    {% endif %}

                    {% if loop.index > 0 and messages[loop.index] == messages[loop.index - 1] %}
                        {# do nothing, don't display a message if it's a duplicate of the previous one #}
                    {% else %}
                        <p class="{{ category_class }}">{{ message }}</p>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}
{#    </div>#}
{% endmacro %}