{% from "macros.html" import nav_link with context %}

    <!-- NAVIGATION -->
      <nav class="navigation display-flex">
        <div class="nav-left">
          <h2>QARTNLP</h2>
        </div>
        <div class="nav-right">
          <ul>

            {{  nav_link("home", 'მთავარი')  }}
            {{  nav_link("files", 'დოკუმენტაცია')  }}
            {{  nav_link("about", 'ჩვენს შესახებ')  }}

            <li class="icon login">
              <img src="{{ url_for('static', filename="assets/header-logo.svg") }}" alt="logo" class="user-logo" />
              <div id="dropdown">
                <a class="my-files" href="#">ჩემი ფაილები</a>
                <p class="user-info">
                  <span id="user-name">
                    სახელი გვარი
                  </span>
                </p>
                <button id="log-out">გამოსვლა</button>
              </div>
            </li>
          </ul>
        </div>
      </nav>