{% extends "base1.html" %}
{% block content %}
    <section class="concrete-page">
      <div class="content-navbar">
          {{_("ჩემი ფაილები / ჩემი ფაილები / კონკრეტული")}}
      </div>
      <div class="concrete-content">
        <div class="concrete-words">
          <ul>
              {% for word in word_list %}
              <li>
                  {{ word.word }}
                    {% for part in word.parts %}
                        <span> - {{ part }}</span>
                    {% endfor %}
              </li>
              {% endfor %}
          </ul>
        </div>
        <div class="concrete-search-tool">
          <div class="search-tool-block">
            <div class="search-input-block">
              <input name="search" class="input-search" type="text" id="search-word" />
              <button class="search-btn">
                <img src="{{url_for("static", filename="assets/search-btn.svg")}}" alt="search" />
              </button>
            </div>
            <div class="info-search">
              <ul>
                <li>{{_("წინადადებები")}}: 2</li>
                <li>{{_("სიტყვები")}}: {{  word_list|length  }}</li>
                <li>{{_("უნიკალური სიტყვები")}}: 27</li>
                <li>{{_("სენტიმენტი")}} -</li>
                <li>{{_("ემოცია")}} -</li>
                <li>{{_("კატეგორია")}} -</li>
              </ul>
            </div>
          </div>
          <button class="btn_download">{{_("გადმოწერა")}}</button>
        </div>
      </div>
    </section>

{% endblock %}