{% extends "base1.html" %}
{% block content %}
    <section class="processing-lang">
        <h2>ქართული ენის ციფრული დამუშავება</h2>
        <textarea class="prtext" name="text" id="prtext" placeholder="ჩააკოპირე ქართული ტექსტი, ნახე როგორ მუშაობს სისტემა."></textarea>
        <div class="btn-block">
            <button id="analyze-button" class="btn-analyze">
              <img src="{{url_for("static", filename="assets/clear.svg")}}" alt="reload" id="clear-icon" class="clear-icon">
              <span id="analyze-text">გაანალიზე</span>
            </button>
        </div>
    </section>

    <section id="analyze-section" class="analyze-section">

        <div class="parts">
            <p class="analyze-part">ნაწილები</p>
            <p class="analyze-part">ნაწილები</p>
        </div>

        <div class="grammar-blocks">
            {% for block in blocks %}
                <div class="grammar-block block-{{ loop.index }}">
                    <h6 class="grammar-block-header">
                        {{block.text}}
                    </h6>
                    <div readonly name="{{ block.name }}" class="gram-textarea" id="{{ block.id }}"></div>
                </div>
            {% endfor %}
            <i aria-hidden="true" class="grammar-block hidden"></i>
        </div>

    </section>
{% endblock %}