<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QartNLP</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <header id="header">
        <nav class="navigation">
            <div class="nav-left">
                <h2>QARTNLP</h2>
            </div>
            <div class="nav-right">
                <ul>
                    <li class="list-item"><a href="#">მთავარი</a></li>
                    <li class="list-item"><a href="">დოკუმენტაცია</a></li>
                    <li class="list-item"><a href="">ჩვენს შესახებ</a></li>
                    <li class="icon">icon</li>
                </ul>
            </div>
        </nav>
    </header>
</body>
</html>