<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>QartNLP</title>
    <link rel="stylesheet" href="../static/CSS/styles.css" />
    <link rel="stylesheet" href="../static/CSS/fonts.css" />
  </head>
  <body>
    <header id="header">
      <nav class="navigation display-flex">
        <div class="nav-left">
          <h2>QARTNLP</h2>
        </div>
        <div class="nav-right">
          <ul>
            <li class="list-item"><a href="home.html">მთავარი</a></li>
            <li class="list-item"><a href="files.html">დოკუმენტაცია</a></li>
            <li class="list-item"><a href="about.html">ჩვენს შესახებ</a></li>
            <li class="icon login">
              <img src="../assets/header-logo.svg" alt="logo" class="user-logo" />
              <div id="dropdown">
                <a class="my-files" href="#">ჩემი ფაილები</a>
                <p class="user-info">
                  <span id="user-name">
                    სახელი გვარი
                  </span>
                </p>
                <button id="log-out">გამოსვლა</button>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <div class="login-bg">
      <div class="login-content">
          <h2>ავტორიზაცია</h2>
          <div class="addit-login">
                  <img class="img-additional" src="../assets/Path3452.svg" alt="Github"/>
                  <img class="img-additional" src="../assets/RepeatGrid1.svg" alt="Gmail"/>
          </div>
          <div class="login-inputs">
              <form onsubmit="return validation(event.preventDefault())" name="login" method="POST">
                <div class="email-input">
                  <input type="email" name="email" id="email" class="login-input" placeholder="ელფოსტა">
                </div>
                <div class="password-input">
                  <input type="password" name="password" id="password" class="login-input" placeholder="პაროლი">
                </div>
                 <input type="submit" value="შესვლა" class="login-btn">
              </form>
          </div>
            <button class="registration-button">რეგისტრაცია</button>
      </div>
    </div>

    <section class="processing-lang">
        <h2>ქართული ენის ციფრული დამუშავება</h2>
        <textarea class="prtext" name="text" id="prtext" placeholder="ჩააკოპირე ქართული ტექსტი, ნახე როგორ მუშაობს სისტემა."></textarea>
        <div class="btn-block">
            <button id="analyze-button" class="btn-analyze">
              <img src="../assets/clear.svg" alt="reload" id="clear-icon" class="clear-icon">
              <span id="analyze-text">გაანალიზე</span>
            </button>
        </div>
    </section>
    <section id="analyze-section" class="analyze-section">
        <div class="parts">
            <p class="analyze-part">ნაწილები</p>
            <p class="analyze-part">ნაწილები</p>
        </div>
        <div class="grammar-blocks">
            <div class="grammar-block block-1">
                <h6 class="grammar-block-header">
                    არსებითი სახელი
                </h6>
                <div readonly name="gram" class="gram-textarea" id=""></div>
            </div>
            <div class="grammar-block block-2">
                <h6 class="grammar-block-header">
                    ზედსართავი სახელი
                </h6>
                <div readonly name="gram" class="gram-textarea" id=""></div>
            </div>
            <div class="grammar-block block-3">
                <h6 class="grammar-block-header">
                    რიცხვითი სახელი
                </h6>
                <div readonly name="gram" class="gram-textarea" id=""></div>
            </div>
            <div class="grammar-block block-4">
                <h6 class="grammar-block-header">
                    ნაცვალსახელი
                </h6>
                <div readonly name="gram" class="gram-textarea" id=""></div>
            </div>
            <div class="grammar-block block-5">
                <h6 class="grammar-block-header">
                    კავშირი
                </h6>
                <div readonly name="gram" class="gram-textarea" id=""></div>
            </div>
            <div class="grammar-block block-6">
                <h6 class="grammar-block-header">
                    ნაწილაკი
                </h6>
                <div readonly name="gram" class="gram-textarea" id=""></div>
            </div>
            <div class="grammar-block block-7">
                <h6 class="grammar-block-header">
                    ზმნიზედა
                </h6>
                <div readonly name="gram" class="gram-textarea" id=""></div>
            </div>
            <div class="grammar-block block-8">
                <h6 class="grammar-block-header">
                    თანდებული
                </h6>
                <div readonly name="gram" class="gram-textarea" id=""></div>
            </div>
            <div class="grammar-block block-9">
                <h6 class="grammar-block-header">
                    შორისდებული
                </h6>
                <div readonly name="gram" class="gram-textarea" id=""></div>
            </div>
            <div class="grammar-block block-10">
                <h6 class="grammar-block-header">
                    ზმნა
                </h6>
                <div readonly name="gram" class="gram-textarea" id=""></div>
            </div>
            <div class="grammar-block block-last block-11">
                <h6 class="grammar-block-header">
                    მიმღეობა
                </h6>
                <div readonly name="gram" class="gram-textarea" id=""></div>
            </div>
            <i aria-hidden="true" class="grammar-block hidden"></i>
        </div>
    </section>
    <footer>
      <div class="footer-container">
        <div class="footer-l__block">
          <div class="github-logo">
            <img src="../assets/github-logo.svg" alt="guthub-logo" />
          </div>
          <div class="created-by__title">
            <p>
              შექმნილია ილიას სახელმწიფო უნივერსიტეტის მორფოლოგიური
              ანალიზაატორის ბაზაზე Unilab-ის ციფრული ლაბორატორიის Python
              Development გუნდის მიერ.
            </p>
          </div>
        </div>
        <div class="footer-r__block">
          <div class="univeristy-logo">
            <img src="../assets/university-logo.svg" alt="uny-logo" />
          </div>
          <div class="university-name__title">
            ილიას სახელმწიფო უნივერსიტეტი
          </div>
        </div>
      </div>
    </footer>

    <script src="../static/JS/scripts.js"></script>
</body>
</html>